---
import Layout from '../layouts/Layout.astro';
import processTei from '../../node_modules/astro-tei/src/processTei.ts';
import Tei, {TeiBaseStyle} from 'astro-tei';
import { ProcessOddPm } from './processOddPm';
export function getStaticPaths() {
	// Names of all the XML files that we intend to host and display on Astro
  	const files=['antoine-is-willing-to-burn-it-all-down_fr', 'BroughamReconstructed', 'edition', 'mdl', 'RdCv1n1-en', 'testTEI']
  	return files.map(file => ({ params: { page: file },}));
}
// For dynamic TEI file loading based on the URL parameter
const { page } = Astro.params;
const teiFile = (await import(`../tei/${page}.xml?raw`)).default;

// Process the TEI file to add custom CSS and behaviors
const pm = new ProcessOddPm();

// This adds the general CSS (CSS that doesn't require javascript for complex behaviours), Not all of the tags are fully complete and have placeholder CSS.
const css = pm.processElSpecs();

// This adds the  name of a CSS class which should be associated with this element to the element, defined as an attribute of the model in the ODD file. 
const tei_with_css = pm.supportClass(teiFile);

const teiData = await processTei(tei_with_css);
// tei_with_css = teiData.serialized.replace(/<([^\s\/]+)([^>]*?)\/>/gm, "<$1$2></$1>");

let finalHtml = pm.complexBehaviors(tei_with_css);

finalHtml = finalHtml.replace(/<(tei-[^\s\/]+)([^>]*?)\/>/gm, "<$1$2></$1>");

// set to false if don't want to see the custom behaviors applied
// let useBehaviors = true;
const __TEI_BASE_ENABLED__ = true; 

---

<Layout title="Astro TEI demo">

  <style set:html={css}></style>
	{__TEI_BASE_ENABLED__ && <TeiBaseStyle/>}
	<!-- might have to serialize these behaviours to pass them in,  just testing for right now -->
	<script src="../CETEI.js"></script>

 	<main class="m-auto p-6 max-w-[65ch]">
		<!-- Injecting the complex behaviors and added CSS (according to the ODD file) for rendering by the browser -->
		<div class="shadow-2xl bg-amber-50 text-gray-700 p-4 mt-4 rounded-md tei-container" id="tei-container" 
		set:html={finalHtml} 
		data-elements={teiData.elements.toString()} >
		</div>
	</main>

	
</Layout>